<a href="https://colab.research.google.com/github/wkh124/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_1%EC%9D%BC%EC%B0%A8_%EC%9E%90%EB%A3%8C%ED%98%95_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자형

## 숫자형이란?
---

숫자형 (number)이란 숫자 형태로 이루어진 자료형이다.

## 숫자형은 어떻게 만들고 사용할까?
---

### 정수형 (integer)
- 정수를 뜻하는 자료형을 말합니다.

    - 양의 정수
    - 음의정수
    - 0

In [ ]:
a = 123 # a 라는 변수에 123이라는 숫자를 할당했다.

b = -123

c = 0

In [ ]:
print(a)
print(b)
print(c)

123
-123
0

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

### 실수형
- 파이썬에서 실수형 (Float)은 소수점을 포함한 숫자를 의미합니다.

In [ ]:
d = 1.2

e = -2.3

In [ ]:
print(d)
print(e)

1.2
-2.3

In [ ]:
print(type(d))
print(type(e))

<class 'float'>
<class 'float'>

## 숫자형을 활용하기 위한 연산자
---

### 사칙연산
- +, - , X, % 와 같은 기호를 사용해서 연산을 진행하는데요.
- 파이썬은 비슷하지만, 조금 다른 기호를 사용해서 연산을 진행합니다.

In [ ]:
a = 3
b = 4

In [ ]:
print(a, b)

3 4

In [ ]:
# 덧셈 +
a + b # 3 + 4

7

In [ ]:
# 뺄셈 -
a - b

-1

In [ ]:
# 곱셈 *
a * b

12

In [ ]:
# 나눗셈 /
a / b

0.75

### 제곱
- `**` 라는 연산자를 활용해서 제곱 연산을 진행합니다.

In [ ]:
# 제곱 **
a ** b # 3 ^ 4 = 3 * 3 * 3 * 3

81

### % 연산자
- 나눗셈 후 나머지를 반환하는 연산자

In [ ]:
7 % 3 # 몫은 2, 나머지 1

1

In [ ]:
3 % 7 # 몫은 0, 나머지는 3

3

### // 연산자

- `/` 연산자를 사용하면 나누기 연산자
- `//` 연산자를 사용하면 몫을 반환하는 연산자

In [ ]:
7 / 4

1.75

In [ ]:
7 // 4

1

### 연습문제

a, b 라는 변수에 각각 1, 2을 대입하고

각각 더하고, 빼고, 곱하고, 나누고, 제곱, 몫과 나머지를 각각 뽑는 연산을 진행해보세요.

In [ ]:
a = 1
b = 2

In [ ]:
a + b

3

In [ ]:
a - b

-1

In [ ]:
a * b

2

In [ ]:
a / b

0.5

In [ ]:
a ** b

1

In [ ]:
a % b

1

In [ ]:
a // b

0

# 문자열 자료형

## 문자열이란?
---

문자열 (String)이란, 문자, 단어 등으로 구성된 문자들의 집합

```
"Life is too short, You need Python."
"a"
"123"
```

## 문자열은 어떻게 만들고 사용할까요??

### 1. 큰따옴표 `"` 로 양쪽을 둘러싸기

In [ ]:
print("Hello World")

Hello World

### 작은 따옴표 `'`로 양쪽 둘러싸기

In [ ]:
print('안녕하세요~:) 저는 이호진이라고 합니다.')

안녕하세요~:) 저는 이호진이라고 합니다.

### 큰따옴표 3개 연속(`"""`) 으로 써서 둘러싸기
### 작은따옴표 3개 연속(`'''`) 으로 써서 둘러싸기

### 문자열 안에 작은따옴표나 큰 따옴표를 포함하고 싶을때?

1. 문자열에 작은 따옴표 포함시키기

```
Python's favorite food is perl.
```

In [ ]:
food = "Python's favorite food is perl."

In [ ]:
print(food)

Python's favorite food is perl.

In [ ]:
food = 'Python's favorite food is perl.'

SyntaxError: ignored

### 문자열에 큰 따옴표를 포함시키면 됩니다.

```
"Python is very easy." he says.
```

In [ ]:
say = '"Python is very easy." he says.'

In [ ]:
print(say)

"Python is very easy." he says.

### 백슬래시(\)를 사용해서 작은따옴표 (') 와 큰 따옴표(")를 문자열에 포함시킬 수 있습니다.

In [ ]:
food = 'Python\'s favorite food is perl.'

In [ ]:
say = "\"Python is very easy.\" he says."

In [ ]:
print(food)
print(say)

Python's favorite food is perl.
"Python is very easy." he says.

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

```
Life is too short
You need python
```

### 1. 줄 바꾸기를 위한 이스케이프 코드 `\n` 삽입

In [ ]:
multiline = "Life is too short\nYou need python"

In [ ]:
print(multiline)

Life is too short
You need python

### 2. 연속된 작은 따옴표 3개 / 큰 따옴표 3개 사용

In [ ]:
multiline1 = '''
Life is too short
You need python
'''

In [ ]:
print(multiline1)

Life is too short
You need python

In [ ]:
multiline2 = """
Life is too short
You need python
"""

In [ ]:
print(multiline2)

Life is too short
You need python

### 이스케이프 코드란?

- \n : 문자열 안에서 줄을 바꿀 때 사용
- \t : 문자열 사이에 탭 간격을 줄 때 사용
- \\ : 문자 `\` 를 그대로 표현할 때 사용
- \' : 작은 따옴표 `'`를 그대로 표현할 때 사용
- \" : 큰 따옴표 `"`를 그대로 표현할 때 사용
- \r : 캐리지 리턴 (줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
- \f : 폼피드 (줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
- \a : 벨 소리 (출력할 떄 PC 스피커에서 '삑' 소리를 냅니다.)
- \b : 백 스페이스
- \000 : 널 문자

이 중에서 활용 빈도가 높은 것은 -> \n, \t, \\, \'. \"

## 문자열 연산
---
파이썬에서는 문자열을 더하거나 곱할 수 있습니다.

다른 언어에서는 쉽게 찾아볼 수 없는 재밋는 기능으로, 우리 생각을 그대로 반영해주는 파이썬의 장점이라고도 볼 수 있습니다.

### 문자열을 더해서 연결하기

In [ ]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

### 문자열 곱하기

In [ ]:
a = "Python"

a * 2

'PythonPython'

-> 위의 소스코드에서 *의 의미는 우리가 일반적으로 사용하는 숫자 곱하기의 의미와 다르다.
위 소스코드에서 a * 2 문장은 a를 2번 반복하라. 라는 뜻이다.

즉, *는 문자열의 반복을 뜻하는 의미로 사용되었다.

### 문자열 곱하기 응용

In [ ]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

- len() 함수를 사용하면 문자열의 길이를 구할 수 있습니다.

In [ ]:
a = "Life is too short."

len(a)

18

## 문자열 인덱싱과 슬라이싱
---

인덱싱 (Indexing)이란 무엇인가를 "가리킨다"를 의미하고,

슬라이싱 (Slicing) 이란 무엇인가를 "잘라낸다"를 의미합니다.

### 문자열 인덱싱

In [ ]:
a = "Life is too short, You need Python."

# "Life is too short, You need Python."

# "0123 56 789 101112131415 1617178 192021 2223242526272829"

In [ ]:
a[0] # a라는 문자열에서 첫번째 문자를 인덱싱

'L'

In [ ]:
a[3]

'e'

In [ ]:
a[19]

'Y'

-> 인덱싱 과정에서 "파이썬은 0부터 숫자를 샌다."

In [ ]:
a[-1]

'.'

In [ ]:
a[-0]

'L'

In [ ]:
a[-2]

'n'

### 문자열 슬라이싱이란?

예를 들어서 a = "Life is too short, You need Python." 라는 문자열에서 단순히 한 문자만을 뽑아내는 것이 아니라, 'Life', 'You' 같은 단어를 뽑아내는 것을 슬라이싱이라고 합니다.

In [ ]:
a = "Life is too short, You need Python."

In [ ]:
b = a[0] + a[1] + a[2] + a[3]

b

'Life'

In [ ]:
a[0:3+1]

'Life'

In [ ]:
a[0:4] # 0 <= a < 4

'Life'

In [ ]:
a[19:22+1]

'You '

a[시작 번호:끝 번호]

In [ ]:
a[:17]

'Life is too short'

In [ ]:
a[:]

'Life is too short, You need Python.'

In [ ]:
a[19:-1]

'You need Python'

### 슬라이싱으로 문자열 나누기

In [ ]:
a = "20221116Sunny"

In [ ]:
date = a[:7+1]
weather = a[8:]

In [ ]:
print(date, weather)

20221116 Sunny

In [ ]:
a = "20221116Sunny"

year = a[:3+1]
day = a[4:7+1]
weather = a[8:]

print(year, day, weather)

2022 1116 Sunny

### "Pithon' 이라는 문자열을 "Python"으로 바꾸려면?

In [ ]:
a = "Pithon"

In [ ]:
a[1]

'i'

In [ ]:
a[1] = y

NameError: ignored

In [ ]:
a = "Pithon"

In [ ]:
a[:1]

'P'

In [ ]:
a[2:]

'thon'

In [ ]:
a[:1] + 'y' + a[2:]

'Python'

### replace 메소드

- replace(바뀌게 될 문자열, 바꿀 문자열) 처럼 사용해서 문자열 안에 특정한 값을 다른 값으로 치환

In [ ]:
a = "Life is too short"

a.replace("Life", "Fall")

'Fall is too short'

## 문자열 포매팅

"현재 온도는 18도 입니다."

"현재 온도는 20도 입니다."

### 1. 숫자 바로 대입

In [ ]:
"I eat %d apples." %3

'I eat 3 apples.'

### 2. 문자열 바로 대입

In [ ]:
"I eat %s apples." %"five"

'I eat five apples.'

### 3. 숫자 값을 나타내는 변수로 대입

In [ ]:
number = 3

"I eat %d apples." %number

'I eat 3 apples.'

### 4. 2개 이상의 값을 넣기

In [ ]:
number = 10
day = "three"

"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열 포맷 코드

- %s : 문자열 (string).  
- %d : 정수 (integer).  
- %f : 실수 (float).

In [ ]:
"I have %s apples" %3

'I have 3 apples'

In [ ]:
"rate is %s" %3.234

'rate is 3.234'

## 포맷 코드와 숫자 함께 사용하기

### 1. 정렬과 공백

In [ ]:
"%10s" %"hi"

'        hi'

- %10s : 전체 길이가 10인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 둔다.

In [ ]:
"%-10shojin" %"hi"

'hi        hojin'

### 2. 소수점 표현하기

In [ ]:
"%0.4f" %3.141592

'3.1416'

- %0.xf는 소수점 x 번쨰 자리까지만 나타내고 싶은 경우에 사용하게 됩니다.

## format 함수를 사용한 포맷팅

### 숫자 바로 대입하기

In [ ]:
"I eat {0} apples".format(3)

'I eat 3 apples'

### 문자열 바로 대입하기

In [ ]:
"I eat {0} apples".format("five")

'I eat five apples'

### 숫자 값을 가진 변수로 대입하기

In [ ]:
number = 3

"I eat {0} apples".format(number)

'I eat 3 apples'

### 2개 이상의 값을 넣기

In [ ]:
number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [ ]:
"I ate {number} apples. so I was sick for {day} days".format(number = 10, day = "three")

'I ate 10 apples. so I was sick for three days'

### 인덱스와 이름을 혼용해서 넣기

In [ ]:
"I ate {0} apples. so I was sick for {day} days".format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days'

### 왼쪽 정렬

In [ ]:
"{0:<10}".format("hi")

'hi        '

### 오른쪽 정렬

In [ ]:
"{0:>10}".format("hi")

'        hi'

### 가운데 정렬

In [ ]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기

In [ ]:
"{0:-^10}".format("hi")

'----hi----'

In [ ]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

### 소수점 표현하기

In [ ]:
y = 3.1415926535

"{0:10.4f}".format(y)

'    3.1416'

### { 또는 } 문자 표현

In [ ]:
"{{ and }}".format()

'{ and }'

## f 문자열 포메팅

In [ ]:
name = "이호진"
age = 30

f'나의 이름은 {name} 입니다. 나이는 {age} 입니다.'

'나의 이름은 이호진 입니다. 나이는 30 입니다.'

In [ ]:
f'나는 내년이면 나이는 {age + 1} 살이 됩니다.'

'나는 내년이면 나이는 31 살이 됩니다.'

### 딕셔너리는 key, value 로 이루어진 자료형

In [ ]:
d = {'name' : "이호진", 'age' : 30}
f'나의 이름은 {d["name"]} 입니다. 나이는 {d["age"]} 입니다.'

'나의 이름은 이호진 입니다. 나이는 30 입니다.'

### 정렬

In [ ]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [ ]:
f'{"hi":>10}' # 오른쪽 정렬

'        hi'

In [ ]:
f'{"hi":^10}' # 중앙 정렬

'    hi    '

In [ ]:
# 공백 메우기
f'{"hi":=^10}'

'====hi===='

### 소수점 표현

In [ ]:
y = 3.141592

f'{y:0.4}' # 소수점 4자리까지만 표현

'3.142'

In [ ]:
f'{y:10.4}' # 소수점 4자리까지만 표현하고 총 자리 수를 10으로 조정

'     3.142'

### { 또는 } 표현

In [ ]:
f'{{ and }}'

'{ and }'

### count()

- 문자 갯수 세기

In [ ]:
a = "computerrrr"

a.count('r')

4

### find()
- 위치를 알려줌

In [ ]:
a = "Python is short."

a.find('a')

-1

### index()
- 위치를 알려줌

In [ ]:
a = "Python is short."

a.index('a')

ValueError: ignored

### join()
- 문자열 삽입

In [ ]:
",".join('abcd')

'a,b,c,d'

### upper

- 소문자를 대문자로 바꾸기

In [ ]:
a = "hi"

a.upper()

'HI'

### lower
- 대문자를 소문자로 바꾸기

In [ ]:
a = "HI"

a.lower()

'hi'

### lstrip()
- 왼쪽 공백 지우기

### rstrip()
- 오른쪽 공백 지우기

### strip()
- 양쪽 공백 지우기

In [ ]:
a = "   Hi   "

In [ ]:
a.lstrip()

'Hi   '

In [ ]:
a.rstrip()

'   Hi'

In [ ]:
a.strip()

'Hi'

### split()
- 문자열 나누기

In [ ]:
a = "Life is too short."

a.split()

['Life', 'is', 'too', 'short.']

# 리스트 자료형